{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link rel="stylesheet" href="/static/css/carousel.css">
{% endblock %}


{% block content %}


{{ super() }}

{% if no_image == "no_image" %}


<div class="container-fluid d-flex justify-content-center align-items-center" style="height:70vh; overflow:hidden; ">
  <!-- Inner row, half the width and height, centered, blue border -->
  <div class="row text-center d-flex align-items-center" style="overflow:hidden; width:100vw; height:90vh">


  
<div class="row justify-content-center">
  <div class="col-4">

    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <p class="card-text">There are no Images in your Gallery</p>
      </div>
    </div>

  </div>
</div>

  </div>
</div>


{% else %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height:70vh; overflow:hidden; ">
  <!-- Inner row, half the width and height, centered, blue border -->
  <div class="row text-center d-flex align-items-center" style="overflow:hidden; width:100vw; height:90vh">


  
<div class="row justify-content-center">
  <div class="col-4">

    <div class="card" style="width: 30rem;">
      <img src="https://storage.googleapis.com/genlabs_images_bucket/outputs/{{ first_img[2] }}-samples/samples/{{ first_img[1] }}"
        class="d-block w-512 mt-2" alt="..." data-remote="" data-type="image" data-toggle="lightbox"
        data-gallery="example-gallery">
      <div class="card-body">
        <p class="card-text">Prompt: {{ first_img[0]}}</p>
      </div>

    </div>
  </div>
</div>

  </div>
</div>

<!-- <div class="d-flex justify-content-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner ">
                    <div class="carousel-item active" data-slide-number="0">
                      <img src="https://storage.googleapis.com/genlabs_images_bucket/outputs/txt2img-samples/samples/{{ url_0 }}" class="d-block w-512" alt="..." data-remote="" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
                    </div>
                  </div>
                </div>
            </div> -->
<!-- Carousel Navigation -->

<div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mx-0">
        {% for prompt, url, job_type  in all_img %}
        {% if url != "empty"  %}
        <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
          data-slide-to="1">
          <img src="https://storage.googleapis.com/genlabs_images_bucket/outputs/{{ job_type }}-samples/samples/{{ url }}"
            class="img-fluid" alt="...">
            <span>{{ prompt }}</span>
        </div>

        {% endif %}
        {% endfor %}

      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div> <!-- /row -->
</div>


{% endif %}




{% endblock %}


{% block scripts %}

{{ super() }}

<script>
  $('#myCarousel').carousel({
    interval: false
  });
  $('#carousel-thumbs').carousel({
    interval: false
  });

  // handles the carousel thumbnails
  // https://stackoverflow.com/questions/25752187/bootstrap-carousel-with-thumbnails-multiple-carousel
  $('[id^=carousel-selector-]').click(function () {
    var id_selector = $(this).attr('id');
    var id = parseInt(id_selector.substr(id_selector.lastIndexOf('-') + 1));
    $('#myCarousel').carousel(id);
  });
  // Only display 3 items in nav on mobile.
  if ($(window).width() < 575) {
    $('#carousel-thumbs .row div:nth-child(4)').each(function () {
      var rowBoundary = $(this);
      $('<div class="row mx-0">').insertAfter(rowBoundary.parent()).append(rowBoundary.nextAll().addBack());
    });
    $('#carousel-thumbs .carousel-item .row:nth-child(even)').each(function () {
      var boundary = $(this);
      $('<div class="carousel-item">').insertAfter(boundary.parent()).append(boundary.nextAll().addBack());
    });
  }
  // Hide slide arrows if too few items.
  if ($('#carousel-thumbs .carousel-item').length < 2) {
    $('#carousel-thumbs [class^=carousel-control-]').remove();
    $('.machine-carousel-container #carousel-thumbs').css('padding', '0 5px');
  }
  // when the carousel slides, auto update
  $('#myCarousel').on('slide.bs.carousel', function (e) {
    var id = parseInt($(e.relatedTarget).attr('data-slide-number'));
    $('[id^=carousel-selector-]').removeClass('selected');
    $('[id=carousel-selector-' + id + ']').addClass('selected');
  });
  // when user swipes, go next or previous
  $('#myCarousel').swipe({
    fallbackToMouseEvents: true,
    swipeLeft: function (e) {
      $('#myCarousel').carousel('next');
    },
    swipeRight: function (e) {
      $('#myCarousel').carousel('prev');
    },
    allowPageScroll: 'vertical',
    preventDefaultEvents: false,
    threshold: 75
  });
  /*
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
  */

  $('#myCarousel .carousel-item img').on('click', function (e) {
    var src = $(e.target).attr('data-remote');
    if (src) $(this).ekkoLightbox();
  });
</script>

{% endblock %}