{% extends "base.html" %}


{% block styles %}
<!-- Bootstrap CSS -->
{{ super() }}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}


{% block content %}

<div class="sidenav">
    <div class="login-main-text">
       <h2>Media Monks<br> Generative Labs</h2>
       <p>Account Recovery</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       
       <div class="login-form" >
         <div id="recovery">
          <form >
             <div class="form-group" >
                <label>Email</label>
                <input type="text" class="form-control mb-2" placeholder="Email" id="email" value="">
             </div>
             
          </form>
          <button onclick="send_recover();" class="btn btn-secondary">Send Recovery Email</button>
         </div>
         </div>
       </div>
       </div>
    </div>
 </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

function send_recover() {

      var entry = {
         'email' : document.getElementById("email").value
         }
      

      fetch(`${window.origin}/sendrecover`, {
              method: "POST",
              credentials: "include",
              body: JSON.stringify(entry),
              cache:"no-cache",
              headers: new Headers({
                "content-type":"application/json"
              })
            })
            .then(function (response){
               if (response.status !== 200) {
                  console.log(`Response status was not 200 ${response.status}`);
               }
               response.json().then(function (data) {                 
                  $(recovery).replaceWith(data)
               })
               })
};

</script>
{% endblock%}